.nav {
  background-color:#771B1E;
  background-image: none;
}
.history {
  position: relative;
  height: 900px;
}
.nav {
  width: 100%;
  /* background: url(/img/nav_bg.png) center repeat-x; */
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  min-width: 320px;
  min-height: 45px;
}
.nav .logo {
  float: left;
  margin-top: px;
  width: 410px;
  height: 72px;
  margin-left: 0.46rem;
  margin-top: 0.2rem;
}
.nav .pc_search {
  width: 28px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.nav .pc_search img {
  width: 100%;
  height: 100%;
}
.nav .pc_home {
  width: 25px;
  height: 23px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  padding-top: 10px;
}
.nav .pc_home img {
  width: 100%;
  height: 100%;
}
.nav .pc_nav {
  float: right;
  margin-right: 0.2rem;
  margin-top: 0.9rem;
}
.nav .pc_nav li {
  text-align: center;
  position: relative;
  float: left;
  padding: 0 0.6rem;
  padding-top: 10px;
}
.nav .pc_nav li a {
  display: inline-block;
  text-align: center;
  font-family: "SourceHanSansBold";
}
.nav .pc_nav li a span {
  color: #fff;
  font-size: 1rem;
}
.history{
  position: relative;
  width: 1640px;
  height: 950px;
}
.history .heads{
  width: 1640px;
  height: 210px;
}
.history .ds{
  position: relative;
  height: 100px;
  border-bottom: 1px solid rgb(0, 0, 0,0.5);
}
.history .ds ul{
  position: absolute;
  left: 20px;
  top: 50px;
}
.history .ds li{
  float: left;
  cursor: pointer;
  width: 100px;
  height: 50px;
  text-align:center;
  line-height:3.2rem;
}
.history .ds li:hover{
  color: #03e2ff;
}
.history .da li{
  float: left;
  margin: 10px 30px;
  width: 470px;
  height: 300px;
  /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); */
  border-radius: 10px;
}
.history .da video{
  width: 470px;
  height: 310px;
}